<h3>{{title}}</h3>
<div class="row-fluid">
    <div class="span6">
        <p class="adr">
            <span class="street-address">{{streetAddress}}</span><br>
            <span class="locality">{{locality}}</span>, 
            <span class="region">{{region}}</span><br>
            <span class="country-name">{{country}}</span> 
            <span class="postal-code">{{postalCode}}</span><br>
        </p>
    </div>
    <div class="span6"> 
        <div>
            <strong><abbr title="Telephone">Tel:</abbr> </strong>
            <span>1-{{telephone}}</span>
        </div>
        <div>
            <strong>Fax: </strong>
            <span>{{fax}}</span>
        </div>
        <p><strong>Email: </strong><a href="mailto:{{email}}" class="email">{{email}}</a></p>
    </div>
</div>