<div class="image-caption-container
  {{#if hoverCaption}}
  hover-caption-container
  {{/if}}
  ">
    <a 
    {{#if url}} 
        href="{{url}}" 
    {{/if}}
    class="image-shadow">
        <img src="{{imageSrc}}" alt="{{imageAlt}}">
        {{#if icon}}
        <i class="icon-{{icon}}"></i>
        {{/if}}
    </a>
    {{#if imageCaption}}
    <p class="caption">
        {{imageCaption}}
    </p>
    {{/if}}
</div>

