<i class="icon-{{icon}}"></i>
<input id="{{id}}-text" type="text" placeholder="{{placeholder}}" class="{{className}}">
<button id="{{id}}-button" class="btn btn-grey btn-small" type="button">
  {{buttonLabel}}
</button>
