<div class="content-island {{boxPosition.horizontal}}-island {{boxPosition.vertical}}-island {{boxClass}}">
  <h3>{{heading}}</h3>
  <p>{{description}}</p>
  <div class="feature-buttons">
    {{#each buttons}}
      {{> Button}}
    {{/each}}
  </div>
</div>
