<div class="flexslider">
    <div class="slides">
      {{#each features}}
        <div class="slide image-caption-container">
          <a href="{{this.url}}" class="image-shadow">
            <img class="fma-background" src="{{this.imageSrc}}" alt="{{this.imageAlt}}" />
          </a>
          <div class="feature-caption caption">
            <h3>
              <a href="{{this.url}}">{{this.heading}}</a>
            </h3>
            <p>{{this.description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
</div>
