<div class="inline-form">
    <i class="icon-{{icon}}"></i>
    <input id="{{id}}-query" type="text" placeholder="{{placeholder}}">
    <button id="{{id}}-button" class="btn btn-grey btn-small" type="button">
      {{buttonLabel}}
    </button>
</div>
