<div class="frame">
    <div class="image-caption-container hover-caption-container">
        <a href="//www.youtube.com/embed/{{videoId}}?wmode=transparent&amp;autoplay=1" class="image-shadow video-modal-link" data-title="{{videoTitle}}" data-url="//www.youtube.com/embed/{{videoId}}?wmode=transparent&amp;amp;autoplay=1" data-modal="iframe" data-target="#videoModal" target="_blank">
            <img src="{{videoThumbnail}}" alt="{{videoTitle}}">
            <i class="icon-play-circle"></i>
        </a>
        <p class="caption">{{videoDescription}}</p>
    </div>
</div>
