<div class="frame">
    <div class="hover-caption-container">
        <a href="//www.youtube.com/embed/{{videoId}}?wmode=transparent&amp;autoplay=1" class="image-shadow video-modal-link" data-target="#videoModal" data-toggle="modal" data-title="{{videoTitle}}" data-mobileurl="//www.youtube.com/watch?v={{videoId}}">
            <img src="{{videoThumbnail}}">
            <i class="icon-play-circle"></i>
        </a>
        <div class="caption">
            <p>
                {{videoDescription}}
            </p>
        </div>
    </div>
</div>
