<div class="navigation-container">
    <nav id="main-nav" class="navigation-inner">
        <ul>
            <li>
                <a class="navigation-toggle">
                    <span>Show Navigation</span>
                    <i class="icon-toggle-nav"></i>
                </a>
                <ul id="nav-list" class="main-navigation collapse">

                    {{#each_with_index globalLinks}}
                        <li role="menuitem" class="nav{{index}}">
                            <a href="{{this.url}}">{{this.label}}</a>

                            {{#if this.subMenu}}
                                <div class="sub-menu">
                                    <div class="sub-menu-content">

                                        {{#if this.subMenu.links}}

                                            <ul class="section-navigation">
                                                {{#each this.subMenu.links}}
                                                <li>
                                                    <a href="{{this.url}}">{{this.label}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>

                                        {{/if}}

                                        {{#if this.subMenu.content}}
                                            <div id="phCustomContent" class="section-description">
                                                {{{this.subMenu.content}}}
                                            </div>
                                        {{/if}}
                                        
                                    </div> 
                                </div>
                            {{/if}}
                        </li>
                    {{/each_with_index}}

                </ul>
            </li>
        </ul>
    </nav>
</div> 
 